body {
  margin: 0;
}

body .font-12 {
  font-size: 0.75em;
}

body .font-14 {
  font-size: 0.875em;
}

body .font-18 {
  font-size: 1.125em;
}

body .font-19 {
  font-size: 1.1875em;
}

body .font-20 {
  font-size: 1.25em;
}

body .font-25 {
  font-size: 1.5625em;
}

body .font-28 {
  font-size: 1.75em;
}

body .font-31 {
  font-size: 1.9375em;
}

body .font-35 {
  font-size: 2.1875em;
}

body .font-40 {
  font-size: 2.5em;
}

body .font-45 {
  font-size: 2.8125em;
}

body .margin-0 {
  margin: 0 !important;
}

body .fw-400 {
  font-weight: 400;
}

body .fw-500 {
  font-weight: 500;
}

body .fw-600 {
  font-weight: 600;
}

body .fw-700 {
  font-weight: 700;
}

body .fw-800 {
  font-weight: 800;
}

body h1, body h2, body h3 {
  letter-spacing: -1.5px;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}

.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

.initialism {
  font-size: 0.875em;
  text-transform: uppercase;
}

.font-primary {
  font-family: var(--e-global-typography-primary-font-family);
}

.font-secondary {
  font-family: var(--e-global-typography-secondary-font-family);
}

.color-primary {
  color: var(--e-global-color-primary);
}

.color-secondary {
  color: var(--e-global-color-secondary);
}

p {
  font-size: var(--wp--preset--font-size--medium, 20px);
}

body p,
body.page p,
body.elementor-default p {
  line-height: 1.5;
}

body a {
  color: var(--e-global-color-text);
}

.color-white {
  color: #ffffff;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-1 {
  margin-top: 0.625em;
}

.mt-2 {
  margin-top: 1.25em;
}

.mt-3 {
  margin-top: 1.875em;
}

.mb-1 {
  margin-bottom: 0.625em;
}

.mb-2 {
  margin-bottom: 1.25em;
}

.mb-3 {
  margin-bottom: 1.875em;
}

.py-0,
.py-0 > .e-con-inner {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.pt-0,
.pt-0 > .e-con-inner {
  padding-top: 0 !important;
}

.pb-0,
.pb-0 > .e-con-inner {
  padding-bottom: 0 !important;
}

.marquee {
  overflow: hidden;
  border: 0px solid #ccc;
}

html body,
.cookie-notice-container {
  font-family: var(--e-global-typography-primary-font-family);
}

.cn-button {
  background-color: var(--e-global-color-secondary) !important;
  color: var(--e-global-color-text) !important;
}

/* Apply 200px side padding only on desktops/laptops (1025px+) */
@media (min-width: 1025px) {
  .page-content > .elementor > .elementor-element.e-con-boxed.e-con.e-parent > .e-con-inner,
header > .elementor-element.e-con-boxed.e-con.e-parent > .e-con-inner,
footer > .elementor-element.e-con-boxed.e-con.e-parent > .e-con-inner {
    width: calc(100vw - 400px) !important;
    /* 200px each side */
    max-width: 1520px !important;
    /* Cap for ultra-wide screens */
    margin: 0 auto !important;
    /* Center */
  }
}

/* Switch to 24px side padding on tablets (1024px) and smaller */
@media (max-width: 1024px) {
  .page-content > .elementor > .elementor-element.e-con-boxed.e-con.e-parent > .e-con-inner,
header > .elementor-element.e-con-boxed.e-con.e-parent > .e-con-inner,
footer > .elementor-element.e-con-boxed.e-con.e-parent > .e-con-inner {
    width: calc(100vw - 48px) !important;
    /* 24px each side */
    max-width: none !important;
    /* No cap, let it go nearly full-width */
  }
}

body .elementor-button-wrapper .elementor-button.button-no_icon {
  padding-left: 1.31em;
  padding-right: 1.31em;
}

body .elementor-button-wrapper .elementor-button.entyce-button-1 {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAyOSAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTkuOTg3MzEgMTZMMTIuMzk0IDkuNjE0ODhIMFY2LjM4NTEySDEyLjM5NEw5Ljk4NzMxIDBDOS45ODczMSAwIDE1LjA2ODQgMy4xNTcgMTguODkyIDQuNzVDMjIuNTE5NCA2LjI2MTI1IDI5IDggMjkgOEMyOSA4IDIyLjUxOTQgOS43Mzg3NSAxOC44OTIgMTEuMjVDMTUuMDY4NCAxMi44NDMgOS45ODczMSAxNiA5Ljk4NzMxIDE2WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==");
  background-repeat: no-repeat;
  background-position: 85% 50%;
  text-align: left;
}

body .elementor-button-wrapper .elementor-button.entyce-button-1:hover {
  background-position: 90% 50%;
}

body .elementor-button-wrapper .elementor-button.button-outlined {
  background-color: rgba(0, 0, 0, 0) !important;
  color: var(--e-global-color-primary);
}

body .elementor-button-wrapper .elementor-button.button-align-left .elementor-button-content-wrapper {
  justify-content: flex-start;
}

body .elementor-button-wrapper .elementor-button.button-text {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  padding: 0em 5em 0em 0em;
  text-align: left;
  min-width: inherit !important;
}

body .elementor-button-wrapper .elementor-button.button-text .elementor-button-content-wrapper {
  justify-content: start;
}

body .elementor-button-wrapper .elementor-button.button-text.button-big {
  padding: 0em 5em 0em 0em;
}

body .elementor-button-wrapper .elementor-button.button-text.button-small {
  padding: 0em 4.5em 0em 0em;
}

body .elementor-button-wrapper .elementor-button.button-small {
  padding: 0.75em 4.5em 0.75em 1.75em;
  font-size: 0.875em;
}

body .elementor-button-wrapper .elementor-button.button-small.button-no_icon {
  padding: 0.75em 1.75em 0.75em 1.75em;
}

body .elementor-button-wrapper .elementor-button.button-big {
  padding: 0.65em 3.6875em 0.65em 1.9875em;
  border-radius: 60px 60px 60px 60px;
  font-size: 1.15em;
}

body .elementor-button-wrapper .elementor-button.button-big.button-no_icon {
  padding: 1.6em 2.4875em 1.6em 2.4875em;
}

body .elementor-button-wrapper .elementor-button.button-radius-square {
  border-radius: 0px;
}

body .elementor-button-wrapper .elementor-button.button-radius-5px {
  border-radius: 5px;
}

body .elementor-button-wrapper .elementor-button.button-radius-10px {
  border-radius: 10px;
}

body .elementor-button-wrapper .elementor-button.button-radius-round {
  border-radius: 30px;
}

body .elementor-button-wrapper .elementor-button.button-no_icon {
  background-image: none !important;
}

.full-width .entyce-button-1 {
  min-width: 100% !important;
}

.reset-width .entyce-button-1 {
  min-width: inherit !important;
}

.reset-width .entyce-button-1[class*="button-icon_"] {
  padding-right: 40px !important;
}

.elementor-widget-custom_button.download .elementor-button.entyce-button-1 {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyNiAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEzIDEuNDQwNDNIMTdWMTAuMzg5NkgyMkwxMyAxNy4xMDE0TTEzIDEuNDQwNDNIOVYxMC4zODk2SDRMMTMgMTcuMTAxNCIgZmlsbD0id2hpdGUiLz4KPHBhdGggZD0iTTEzIDEuNDQwNDNIMTdWMTAuMzg5NkgyMkwxMyAxNy4xMDE0TDQgMTAuMzg5Nkg5VjEuNDQwNDNIMTNaIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNMSAyMy44MTM1SDI1SDFaIiBmaWxsPSJ3aGl0ZSIvPgo8cGF0aCBkPSJNMSAyMy44MTM1SDI1IiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K") !important;
  background-position: 15% 50% !important;
  padding: 0.65em 1.9875em 0.65em 3.6875em !important;
}

.gform_wrapper input[type="text"], .gform_wrapper input[type="email"], .gform_wrapper select, .gform_wrapper textarea {
  border: 0;
  border-bottom: 1px solid #2A2B2A;
  border-radius: 0;
  padding-left: 0 !important;
  outline: none;
  box-shadow: inherit;
  color: #2F2F2F;
}

.gform_wrapper input[type="text"]::placeholder, .gform_wrapper input[type="email"]::placeholder, .gform_wrapper select::placeholder, .gform_wrapper textarea::placeholder {
  color: #2F2F2F;
}

.gform_wrapper input[type="text"]::-webkit-input-placeholder, .gform_wrapper input[type="email"]::-webkit-input-placeholder, .gform_wrapper select::-webkit-input-placeholder, .gform_wrapper textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #2F2F2F;
}

.gform_wrapper input[type="text"]::-moz-placeholder, .gform_wrapper input[type="email"]::-moz-placeholder, .gform_wrapper select::-moz-placeholder, .gform_wrapper textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #2F2F2F;
}

.gform_wrapper input[type="text"]:-ms-input-placeholder, .gform_wrapper input[type="email"]:-ms-input-placeholder, .gform_wrapper select:-ms-input-placeholder, .gform_wrapper textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #2F2F2F;
}

.gform_wrapper input[type="text"]:-moz-placeholder, .gform_wrapper input[type="email"]:-moz-placeholder, .gform_wrapper select:-moz-placeholder, .gform_wrapper textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #2F2F2F;
}

.gform_wrapper input[type=submit] {
  background-color: var(--e-global-color-primary) !important;
  font-family: var(--e-global-typography-primary-font-family);
}

.gform_wrapper select {
  border: 0;
}

.gform_wrapper .gfield--type-select {
  border-bottom: 1px solid #2A2B2A;
}

.gform_wrapper .gfield--type-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-repeat: no-repeat;
  background-position: 100% center;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAxOCAyMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTkuMDcwNzMgMjAuMDQxNEw5LjA3MDc0IDEuNzAzNzlNOS4wNzA3MyAyMC4wNDE0TDEuMjExNzggMTIuMTgyNE05LjA3MDczIDIwLjA0MTRMMTYuOTI5NyAxMi4xODI0IiBzdHJva2U9IiMwNTQwNjIiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=");
  background-color: #ffffff !important;
}

.gform_wrapper .ginput_container_consent input {
  transform: scale(1);
}

.gform_wrapper .ginput_container_consent label {
  padding-left: 30px;
}

body .accordion-footer .elementor-accordion-item {
  border: 0;
  border-radius: 0;
  box-shadow: inherit;
  margin-bottom: 0;
  border-bottom: 1px solid #ffffff;
}

body .accordion-footer .elementor-accordion-item:first-of-type {
  display: none;
}

body .accordion-footer .elementor-tab-title {
  padding: 22px 20px;
  padding-left: 0;
  border: 0 !important;
}

body .accordion-footer .elementor-tab-content {
  padding-left: 0;
  padding-top: 0;
  border: 0;
}

body .accordion-footer .elementor-tab-content p:last-of-type {
  margin-bottom: 0;
}

body .accordion-footer p, body .accordion-footer a {
  color: #ffffff !important;
}

body .accordion-footer .elementor-accordion-title {
  font-weight: 300;
}

.blaze-track > * {
  box-sizing: border-box !important;
  width: var(--slide-width) !important;
  flex-shrink: 0 !important;
}

html body.elementor-default .wrapper-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  transition: 0.5s ease;
  opacity: 1;
}

body .gform_wrapper .gform-body .gform_fields {
  row-gap: 24px;
}

body .elementor-pagination-type-bullets {
  margin-bottom: 24px !important;
}

body .swiper.swiper-initialized.swiper-horizontal {
  margin-bottom: 24px;
}

body .swiper-pagination-bullets .swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0) !important;
  height: 14px !important;
  width: 14px !important;
  position: relative;
  margin: 0 10px !important;
}

body .swiper-pagination-bullets .swiper-pagination-bullet:after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  height: 23px !important;
  width: 23px !important;
  border-radius: 100%;
  border: 1px solid var(--e-global-color-primary);
  transform: translatex(-50%) translatey(-50%);
}

body .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: var(--e-global-color-primary) !important;
}

body .elementor-widget-text-editor ul {
  padding-left: 18px;
}

body .border-left {
  border-left: 1px solid #000;
  padding-left: 30px;
}

body .dots-solid .swiper-pagination-bullet {
  background: #D5D6D9 !important;
  margin: 0 3px !important;
}

body .dots-solid .swiper-pagination-bullet:after {
  border: 0px solid var(--e-global-color-primary);
}

body .dots-solid .swiper-pagination-bullet-active {
  background: #575E68 !important;
}

body .list-spacing ul li {
  margin-bottom: 1em;
}

body .list-spacing ul li:last-of-type {
  margin-bottom: 0;
}

body .remove-side-padding {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 1024px) {
  .autoplay-mobile .swiper-pagination {
    display: none;
  }
}

@media (max-width: 1332px) {
  body .desktop-padding-fix {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 768px) {
  body .bg-aspect-ratio {
    aspect-ratio: 1920 / 667;
    /* or 2.88 */
    background-size: cover;
    background-position: center;
  }
}

@media (max-width: 767px) {
  body .elementor-button-wrapper .elementor-button.entyce-button-1 {
    font-size: 14px;
    min-width: inherit !important;
  }
  .entyce-button-1 {
    min-width: inherit !important;
  }
  .entyce-button-1[class*="button-icon_"] {
    padding-right: 40px !important;
  }
  body .bg-aspect-ratio {
    padding-top: 24px;
    padding-bottom: 24px;
    background-size: cover;
    background-position: center;
  }
}
