/* 
Theme Name: Entyce base theme
Theme URI: https://github.com/MikeEntyce/entyce_base_theme
Author: Entyce-Creative
Author URI: https://entyce-creative.com/
Version: 0.2
Text Domain: hello-elementor-child
Template: hello-elementor
*/


